body{
    font-family: 'Unna', serif;
    height: 100vh;
    background-color: #43A047;
    color: #354236;
}

li{
    padding: 15px;
    font-size: 2.5rem;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #354236;
}

.burger{
    background-image: url("../img/iconmonstr-menu.svg");

}

.ximage{
    background-image: url("../img/iconmonstr-x.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.burger,
.ximage{
    margin-right: 40px;
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: .6;
    cursor: pointer;
}

h1{
    display: inline-block;
    font-size: 3rem;
    padding: 20px 10px 30px 40px;
}

h1,
.burger,
.ximage{
    z-index: 5;
}

.second-doors,
.first-doors{
    visibility: visible;
    position: absolute;
    height:100%;
    background-color: gold;
    width: 30%;
    transition: .5s;
}
.second-doors{
    right: 0px;
    z-index: 2;
}

.first-doors{
    left: 0;
    z-index: 1;
}

.doors-off{
    visibility: hidden;
    background-color: gold;
    width: 0;
    transition: .5s .2s;
}



.title-and-nav-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .main-container{
    margin: 0 auto;
    max-width: 1500px;
    height: 100vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} 


.site-nav-off{
    visibility: hidden;
    height: 0;
    padding: 0px;
    text-align: center;
    opacity: 0;
    transition: .4s ;

}
.site-nav-on{
    visibility: visible;
    text-align: center;
    opacity: 1;
    transition: 1.2s  .3s;

}
.content-container{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container-on{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    overflow: visible;
    transition: 1s; 

}
.content-container-off{
    visibility: hidden;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    overflow: hidden; 
    transition: .5s;
}

.display-none{
    display: none;
}


h2{
    font-size: 2.2rem;
    padding: 0px 40px 10px 40px;
}

p{
    line-height: 1.6rem;
    padding: 7px 40px 7px 40px;
    font-size: 1.2rem;
}

footer{
    height: 40px;
    text-align: center;
}  


